<% if user_signed_in? %>



<h1>Friend List</h1>

<div id="friends">
<table class="table table-hover table-bordered">
 <thead class="table-dark" >
  <tr>
   <th>Name</th>
   <th>Email</th>
   <th>Phone</th>
   <th>Twitter</th>
  </tr>
 </thead>
 <tbody>
 <% @friends.each do |friend| %>
  <%= render friend %>
<% end %>       
  </tbody>
 </table>
  
</div>

<%= link_to "New friend", new_friend_path , class:"btn btn-dark"%>

<% else %>

<h1>Hello User!</h1>
<p>This is my first rails website</p>
<h4>Login To Add or See Friend</h4>
<% end %>